.cf-metafield {
	margin: 1em 0;
}
.cf-add-area {
	position: relative;
}
.cf-add-area.updating #gridgets-before-content {
	opacity: 0.5;
}
.cf-spinner-wrapper {
	display: none;
	visibility: hidden;
}
.updating .cf-spinner-wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	display: block;
	visibility: visible;
}
.updating .cf-spinner-wrapper .spinner {
	visibility: visible;
}
.cf-metafield img {
	max-width: 100%;
	height: auto;
}
.cf-metafield label {
	font-weight: bold;
	margin-bottom: 0.25em;
	display: block;
}
.cf-metafield.wide input {
	width: 100%;
}
#gridgets-before-content.widefat td {
	vertical-align: middle;
}
.cf-metafield-third {
	float: left;
	width: 31%;
	padding-right: 2%;
}
.cf-metafield-half {
	float: left;
	width: 48%;
	padding-right: 2%;
}
.cf-metafield-first {
	clear: left;
}
.cf-metafield hr {
	clear: both;
	margin: 2em 0;
}